input, button, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}

.seat-item{
    height: 15px;
    width: 15px;

    margin: 2px auto 2px auto;
    padding:0px;

    border-style: solid;

    /*
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    */
}

.parter-field{
    height: 15px;
    width: 15px;
    background-color: #24252a;


    line-height: 20px;
    font-size: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 0px;
}

.seat-available {
    background-color: #24252a;
    border-radius: 10px;

}

.seat-booked{
    background-color: rgb(253, 91, 91);
    opacity: 0.45;
    border-radius: 10px;
    height: 7px;
    width: 7px;
}

.seat-selected{
    background-color: #edf0f1;
    opacity: 0.45;
    border-radius: 10px;
}


.parter-field:hover, .seat-available:hover, .seat-selected:hover
{
    cursor: pointer;
    background-color: #edf0f1;
    opacity: 1;

}

.selected-seat-data{
    color:#edf0f1;

}