<div class="col-md-12 table-wrapper">
    <table class = "col-md-12">
        <tr *ngFor="let seatrow of configuration | keyvalue">
            <td *ngFor="let seat of seatrow.value">
                <div                         
                placement="top"
                pTooltip="{{seat.name}}: {{seat.price}}$"
                *ngIf="seat!=null"
                [ngStyle]="{'color': seat?.color}"
                [ngClass]="{ 
                    'toolt': true,
                    'parter-field' : seat.name == 'P' ? true : false,
                    'seat-item' : seat.name == 'P' ? false : true, 
                    'seat-available' : seat.status==='available' ,
                    'seat-booked' : seat.status==='booked' ,
                    'seat-selected' : seat.status==='selected' 
                }" 
                (click) = "onSeatClick(event, seat)"
                >
                </div>
            </td>
        </tr>
    </table>
</div>