#myVideo {
    position: fixed;
    background-color: #24252a;
}

@media (min-aspect-ratio: 16/9) {
    #myVideo {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #myVideo { 
        width:auto;
        height: 100%;
    }
}



.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #edf0f1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 80px;
}


.page-content{
    position: relative;
    width: 100%; 
    height: 100%;
    overflow: auto;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #edf0f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}