<video id="myVideo" autoplay 
oncanplay="this.play()" 
onloadedmetadata="this.muted = true"  
loop
>
    <source src="../assets/background/smokeBackground0.mp4" type="video/mp4">
</video>

<div class="content">

    <app-header></app-header>

    <div class="page-wrapper">
        <div class="page-content">
            <div class="raw">
                <div class="col-lg-12">

                    <router-outlet></router-outlet>
                    
                </div>
            </div>
        </div>
    </div>
</div>
