<div class="col-lg-12">
    <div class="row">
        <div class = "col-lg-4" align="center">
            <span>
                Name:
                <input id="name" type="text" [(ngModel)] = "location.name">
            </span>
        </div>
        <div class = "col-lg-6" align="center">
            <span>
                Configuration:
                <select [(ngModel)] = "location.configurationId">
                    <option 
                    *ngFor="let configuration of configurations"
                    [value] = "configuration.id"
                    [selected] = "configuration.id === location.configurationId? 'selected' : '' "
                    >
                        {{configuration.name}}
                    </option>
                </select>
            </span>
        </div>
        <div class = "col-lg-2 active-wrapper" align="center">
           <span>Active: <input type="checkbox" [(ngModel)]="location.active"> </span>
        </div>
    </div>

    <div class="row button-wrapper">
        <div class="col-lg-4"></div>
        <div class="col-lg-6"></div>
        <div class="col-lg-2" align="center">
            <input type="submit" value="save" (click) = "onSave()">
        </div>
    </div>


</div>