
<div class="page-wrapper">
    <app-categories-view></app-categories-view>
    <hr>
    <div class = "categories-list-wrapper">
        <div 
        class="col-md-12 category-detail-wrapper"
        *ngFor = "let category of categories.categories"
        >
            <app-category-details [category] = "category"></app-category-details>

        </div>
    </div>
    <button class="btn btn-md btn-outline-info" (click) = "onAddCategory()" >New Category</button>
    <div class="button-wrapper">
        <button id="save" class="btn btn-md btn-outline-info" (click) = "onSave()" >Save</button>
        <button id="cancel" class="btn btn-md btn-outline-light" (click) = "onCancel()">Cancel</button>
    </div>
</div>
