.seat-item{
    height: 15px;
    width: 15px;

    margin: 2px auto 2px auto;
    padding:0px;

    border-style: solid;

    /*
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    */
}

input, button, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}


.parter-field{
    height: 15px;
    width: 15px;
    background-color: #24252a;


    line-height: 20px;
    font-size: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 0px;
}

.seat-available {
    background-color: #24252a;
    border-radius: 10px;

}

.seat-booked{
    background-color: rgb(253, 91, 91);
    opacity: 0.45;
    border-radius: 10px;
    height: 7px;
    width: 7px;
}

.seat-selected{
    background-color: #edf0f1;
    opacity: 0.45;
    border-radius: 10px;
}


.parter-field:hover, .seat-available:hover, .seat-selected:hover
{
    cursor: pointer;
    background-color: #edf0f1;
    opacity: 1;

}

.selected-seat-data{
    color:#edf0f1;

}
.white{
    background-color: #edf0f1;
    margin: 10px 0px;
}

img{
    width:7px;
    height: 7px;
    float:right;
    cursor: pointer;
}

.icon-wrapper{
    padding: 0px;
}



input[type="submit"] {
    padding: 4px 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;

    margin-top: 5px;
    margin-left: 5px;

}

input[type="button"] {
    padding: 4px 10px;
    background-color: gray;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;

    margin-top: 5px;
    margin-left: 5px;
}

input[type="button"]:hover{
    color: #b32400;
    outline: none;
}

input[type="submit"]:hover{
    color: gray;
    outline: none;
}

input:focus {
    outline: none;
}


.list-wrapper{
    max-height: 250px;
    overflow:auto;
}

.table-wrapper{
    background-color: rgb(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    overflow: auto;
}

.wrapper{

    background-color: #24252a;
    border-radius: 10px;
    overflow: auto;

    padding-bottom: 60px;
}

hr{
    background-color: #24252a;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #edf0f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}