<div class="col-md-12 table-wrapper">
    <table class = "col-md-12">
        <tr *ngFor="let seatrow of configuration | keyvalue">
            <td *ngFor="let seat of seatrow.value">
                <div
                *ngIf="seat!=null"
                [ngStyle]="{'color': seat?.category?.color}"
                [ngClass]="{ 
                    'parter-field' : seat.name.includes('P') ? true : false,
                    'seat-item' : seat.name == 'P' ? false : true, 
                    'seat-available' : seat.status==='available',
                    'seat-booked' : seat.status==='booked',
                    'seat-selected' : seat.status==='selected' 
                }" 
                (click) = "method1CallForClick(event, seat)"
                (dblclick) = "method2CallForDblClick(event, seat)"
                >
                </div>
            </td>
        </tr>
    </table>
</div>