
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 5%;
}

:host ::ng-deep app-logo {
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a,
.sel,
.overlay-content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav-links li {
    padding: 0px 15px;
}

.nav-links li a  {
    transition: all 0.3s ease 0s;
}

.nav-links a:hover {
    color: gray;
}


a.active{
    padding: 9px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

input, button, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}
