<div class="row">
        <div class="col-md-12 nav-wrapper">
                <app-logo></app-logo>
                <nav>
                        <ul class="nav-links">
                                <li><a href routerLink="" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Home</a>
                                </li>
                                <li *ngIf="role === 'ROLE_ADMIN'"><a name="locations" href routerLink="location"
                                                routerLinkActive="active">Locations</a>
                                </li>
                                <li *ngIf="role === 'ROLE_ADMIN'"><a routerLink="configuration"
                                                routerLinkActive="active">Configuration
                                                test</a></li>
                                <li *ngIf="role != 'ROLE_ADMIN' && role != 'ROLE_USER'"><a routerLink="register"
                                                routerLinkActive="active">Register</a></li>
                                <li *ngIf="role != 'ROLE_ADMIN' && role != 'ROLE_USER'"><a routerLink="sign-in"
                                                routerLinkActive="active">Sign in</a></li>
                                <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_USER'"><a routerLink="profile"
                                                routerLinkActive="active">My profile</a></li>
                                <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_USER'"><a routerLink="edit-profile"
                                                routerLinkActive="active">Edit profile</a></li>
                                <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_USER'"><a routerLink="sign-out"
                                                routerLinkActive="active">Sign out</a></li>
                                <li>
                                </li>
                        </ul>
                </nav>
        </div>
</div>