
<div class="col-lg-12"  align="center">

    <div class = "col-lg-6" align="center">
        <span>
            Name:
            <input id="name" type="text" [(ngModel)] = "location.name">
        </span>
    </div>

    <div class = "col-lg-6" align="center">
        <span>
            Configuration:
            <select [(ngModel)] = "location.configurationId">
                <option 
                id="configuration"
                *ngFor="let configuration of configurations"
                [value] = "configuration.id"
                [selected] = "configuration.id === location.configurationId? 'selected' : '' "
                >
                    {{configuration.name}}
                </option>
            </select>
        </span>
    </div>
    
    <div class = "col-lg-6 active-wrapper" align="center">
        <span>Active: <input id="active" type="checkbox" [(ngModel)]="location.active"> </span>
    </div>


    <div class="col-lg-6 button-wrapper" align="center" >
        <input type="submit" (click) = "onSave()" value="save">
    </div>
</div>