input {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    cursor: text;
}

input[type = "submit"]{
    padding: 5px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 20px;

}


input[type = "text"], select{
    color: #edf0f1;
    padding: 5px 15px;
    background-color: rgb(10, 10, 10, 0.5);
    border: none;
    border-radius: 20px;
    margin-left: 5px;
    width: 200px;

}

select{
    cursor: pointer;
}

input[type = "checkbox"]{
    margin-left: 5px;
}




.active-wrapper{
    padding: 5px 15px;
    width: 200px;


}

.button-wrapper{
    padding-top: 15px;
    padding-bottom: 20px;

    float: none;
    margin: 0 auto;
}

input[type = "submit"]:hover{
    color: gray;
}


input, button, div, select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}
input:focus, select:focus {
    outline: none;
}
