<div class="container">

    <br>
    <h1>Sign in</h1>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <form #form="ngForm">
                <fieldset>

                    <div class="form-group"><input class="form-control phone" type="text"
                            placeholder="Username or email" name="username" id="username" [(ngModel)]="username"></div>

                    <div class="form-group"><input class="form-control phone" type="password" placeholder="Password"
                            name="password" id="password" [(ngModel)]="password">
                    </div>

                    <br><br>
                    <div class="form-group"><input class="btn btn-md btn-outline-info" name="signIn" value="Sign in"
                            (click)="signIn(form)">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>