.form-group{
    width: 100%;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}