<div class="row">
    <div class="col-md-5 offset-1">
        Seats:
        <div class="list-wrapper">
            <div class="col-md-12"
            *ngFor="let seat of selectedSeats"
            >
                <div class="row">
                    <div class= "col-md-10">
                        {{seat.name}} {{seat.price}}$
                    </div>
                    <div class= "col-md-1 icon-wrapper" >
                        <img (click) = "onXClick(event, seat)" src="../../assets/icons/x.svg">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <hr class="white">
            Seats count: {{selectedSeats.length}} <br>
            Total price: {{totalPrice}}$
        </div>
    </div>
    <div class= "detail-wrapper col-md-4 offset-2">
        Tickets limit: {{ticketsLimit}} <br>
        Left parter spots:
        <div class="list-wrapper">
                <div class="col-md-12"
                *ngFor="let parterCapacity of parterCapacities | keyvalue"
                >
                <div class= "col-md-10">
                    {{parterCapacity.key}}: {{parterCapacity.value}}
                </div>
            </div>
    </div>
</div>