.wrapper{
    background-color: rgb(255,255,255, 0.0);
    padding: 30px;
}

.page-wrapper{
    padding: 3% 15%;
    min-width: 300px;
    min-height: 200px;
}
.content-wrapper{
    padding-top: 2%;

}
.btn{
    width: 100%;
}
input, button, div, select, h1, h2 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}