<div class="page-wrapper">
    <h1>Locations</h1>
    <div class="content-wrapper">
        <p-accordion>
            <p-accordionTab 
            *ngFor = "let location of locations"
            [header] = "location.name"
            >  
                <div class="wrapper" [id]="location.name">
                    <app-location-details [location] = "location"></app-location-details>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

    <app-modal-trigger
    [modalTitle] = "'New Location'"
    [modalType]="'add-location'" 
    [modalProps]="{'location':{'ID':null, 'name':'', 'active': false, 'configurationId':null}}"
    >
        <button class="btn btn-md btn-outline-info" >New Location</button>
    </app-modal-trigger>

</div>

