<div class="row main-wrapper">
    <div class="message-wrapper col-lg-2 offset-4">
        <p class="boo">404 ERROR!</p>
        <p class="message"> 
            Sorry, we couldn't find the page you are looking for. 
            <br>
            We suggest that you return to home page.
        </p>
    </div>
    <div class="col-lg-2">
        <img src="../../../assets/errors/404.png">
    </div>  
</div>
