.boo{
    font-family: Candara;
    font-size: 50px;
    text-align: center;

}

.message{
    font-family: "Comic Sans Ms";
    font-style: oblique;
    font-size: 14px;
    text-align: center;
}

img{
    height: 500px;
    width: 500px;
}

.message-wrapper{
    padding-top: 100px;
}
.main-wrapper{
    margin:auto;
}