<div class="container">

    <br>
    <h1>Edit your profile</h1>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="Name">Name: </label>
                        <input type="text" [(ngModel)]="updateUser.name" name="name" id="name" class="form-control"
                            minlength="3" placeholder="Enter new name" #name="ngModel" />

                        <div *ngIf="name.invalid" class="alert alert-danger">
                            <div *ngIf="name.errors.minlength">
                                Name must be at least 3 characters long.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Surname">Surname: </label>
                        <input type="text" [(ngModel)]="updateUser.surname" name="surname" id="surname"
                            class="form-control phone" maxlength="28" placeholder="Enter new surname" />
                    </div>

                    <div class="form-group">
                        <label for="Username">Username: </label>
                        <input disabled class="form-control" type="text" name="username" id="username"
                            [(ngModel)]="loggedUser.username" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input disabled class="form-control" type="text" name="email" id="email"
                            [(ngModel)]="loggedUser.email" />
                    </div>

                    <div class="form-group">
                        <label for="oldPassword"><span class="req">* </span> Old password: </label>
                        <input class="form-control" type="password" [(ngModel)]="updateUser.oldPassword"
                            name="oldPassword" id="oldPassword" placeholder="Enter your old password" required />
                    </div>

                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input class="form-control" type="password" [(ngModel)]="updateUser.password" name="password"
                            id="password" minlength="8" placeholder="Enter your new password" />
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm password: </label>
                        <input class="form-control" type="password" [(ngModel)]="updateUser.confirmPassword"
                            name="confirmPassword" id="confirmPassword" minlength="8" placeholder="Confirm password" />
                    </div>

                    <br>

                    <div class="form-group">
                        <input class="btn btn-md btn-outline-info" type="file" (change)="onFileSelected($event)">
                    </div>

                    <br><br>
                    <div class="form-group">
                        <input class="btn btn-md btn-outline-info" name="edit" value="Edit profile" (click)="update()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>