
<div class="page-wrapper" >

    <app-seat-picker-view></app-seat-picker-view>
    
    <hr>

    <div class="selected-seat-data">
        <app-seat-picker-details></app-seat-picker-details>
    </div>
    
    <div class="button-wrapper">
        <button id="cancel" class="btn btn-md btn-outline-light" (click)="onCancel()">Cancel</button>
        <button id="confirm" class="btn btn-md btn-outline-info" (click)="onConfirm()" >Confirm</button>
    </div>
</div>