input, button, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}


hr{
    background-color: #24252a;
}

.categories-list-wrapper{
    margin-bottom: 10px;
}

.category-detail-wrapper:focus {
    outline-color: rgba(0, 136, 169, 1);
    border: 1;
}

.page-wrapper{
    padding: 10px 10px;
    min-width: 300px;
    min-height: 200px;
}

.button-wrapper{
    float:right;
    width: 40%;
    margin-top: 10px;
}

#confirm{
    float: right;
    width: 49.5%;
}
#cancel{
    float: left;
    width: 49.5%;
    opacity: 0.8;
}
