<div class="modal-header header-dark">
    <h4 class="modal-title light">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body body-dark">
    <app-location-add (turnOff)="activeModal.close('Close click')" *ngIf="type=='add-location'"></app-location-add>
</div>
