<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="user">
                <div class="profile-image">
                    <img *ngIf="user.imagePath != '' " [src]="user.imagePath">
                    <img *ngIf="user.imagePath === ''" src="../../../assets/users/user.png">
                </div>

                <br>

                <div class="profile-usertitle">
                    <div class="name"> {{user.name}} {{user.surname}} </div>
                    <br>
                    <div class="username"> {{user.username}} </div>
                    <br>
                    <div class="email"> {{user.email}} </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="caption">
                <h2>Tickets</h2>
            </div>
            <br>
            <table class="table" name="hoverTable">
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Seat</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Concert</td>
                    <td>19.02.2020 20h</td>
                    <td>10A</td>
                    <td>10$</td>
                </tr>
                <tr>
                    <td>Concert</td>
                    <td>19.02.2020 20h</td>
                    <td>10B</td>
                    <td>10$</td>
                </tr>
                <tr>
                    <td>Theater</td>
                    <td>25.02.2020 20h</td>
                    <td>10C</td>
                    <td>10$</td>
                </tr>
            </table>
        </div>
    </div>
</div>
`