
<div class="col-md-12 wrapper zoom" (click) = "onUpdate()">
    <span>
        Name:
        <input type="text" [(ngModel)]="category.name">
    </span>
    <span>
        Price:
        <input type="number" [(ngModel)]="category.price" min="0">
    </span>
    <span>
        Color: 
        <p-colorPicker [(ngModel)]="category.color"></p-colorPicker>
    </span>
    <span>
        {{write()}}
    </span>

    <span class= "button-wrapper">
        <!--<img src = '../../../assets/icons/pancil.png' (click) = "onUpdate()">-->
        <img src = '../../../assets/icons/x.svg' (click) = "onDelete()">
    </span>
</div>
