span{
    margin-left:10px;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    cursor: text;

}

input[type = "submit"]{
    padding: 5px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 20px;

}


input[type = "text"], input[type = "number"]{
    color: #edf0f1;
    padding: 5px 15px;
    background-color: rgb(10, 10, 10, 0.5);
    border: none;
    border-radius: 20px;
    margin-left: 5px;
    width: 120px;
}



.active-wrapper{
    padding: 5px 15px;
    width: 200px;
}


input[type = "submit"]:hover{
    color: gray;
}


input, button, div, select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* supported by Chrome, Opera and Firefox */
}
input:focus, select:focus {
    outline: none;
}


img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.button-wrapper{
    float:right;
}


.wrapper:active {
    transform: scale(1.01);
    background: rgba(0, 136, 169, 1);
}
.zoom {
    transition: all 1.25s ease-in-out;
}
.zoom:active {
    transition: all;
}