<div class="container">

    <br>
    <h1>Register</h1>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <form #myForm="ngForm">
                <fieldset>

                    <div class="form-group">
                        <label for="Name"><span class="req">*</span>Name: </label>
                        <input required type="text" [(ngModel)]="user.name" name="name" id="name"
                            class="form-control phone" maxlength="28" placeholder="Enter your name" ngModel required />
                    </div>

                    <div class="form-group">
                        <label for="Surname"><span class="req">*</span> Surname: </label>
                        <input required type="text" [(ngModel)]="user.surname" name="surname" id="surname"
                            class="form-control phone" maxlength="28" placeholder="Enter your surname" />
                    </div>

                    <div class="form-group">
                        <label for="Username"><span class="req">*</span> Username: </label>
                        <input required type="text" [(ngModel)]="user.username" name="username" id="username"
                            class="form-control phone" maxlength="28" placeholder="Enter your username" />
                    </div>

                    <div class=" form-group">
                        <label for="email"><span class="req">*</span> Email: </label>
                        <input class="form-control" type="text" [(ngModel)]="user.email" name="email" id="txt" required
                            placeholder="Enter valid email address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">*</span> Password: </label>
                        <input class="form-control" type="password" [(ngModel)]="user.password" name="password"
                            id="password" minlength="8" placeholder="Enter your password" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword"><span class="req">*</span> Confirm password: </label>
                        <input class="form-control" required type="password" [(ngModel)]="user.confirmPassword"
                            name="confirmPassword" id="confirmPassword" minlength="8" placeholder="Confirm password" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <input type="file" name="file" class="btn btn-md btn-outline-info"
                            (change)="onFileSelected($event)">
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="btn btn-md btn-outline-info" name="register" value="Register"
                            (click)="register()">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>